@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Search</h1>
    <input class="form-control" id="search-terms" data-bind="value: searchTerms">
    <button type="button" id="btn-search" class="form-control btn-primary mt-3" data-bind="click: search">Search</button>

    <div class="mt-5" data-bind="visible: timeUsed() != null">
        <small>Time used: <span data-bind="text: timeUsed"></span> - Number of hits: <span data-bind="text: hits"></span></small>
    </div>

    <div class="mt-5" data-bind="foreach: results">
        <p>
            <b data-bind="text: Document.mUrl"></b><br>
            <small>Number of hits: <span data-bind="text: NoOfHits"></span></small>
        </p>
    </div>
</div>